<p id="notice"><%= notice %></p>
 <!--I keep breaking it get help-->
<!-- <p id="centertagger">o</p> trying to float image on top of map -->
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>

<div id="map-canvas"></div>
<%= javascript_tag do %>
  console.log('page initialize');

  window.mapOptions = {
    center: { 
      lat:<%=@location.latitude  %>, 
      lng: <%= @location.longitude %>},
    zoom: 8
  };

  window.markers = [];
  <% @markers.each do |marker| %>
    window.markers.push([<%= marker.lat %>, <%= marker.long %>])
  <% end %>
<% end %>

</div>
<h1>
 <button id="maptrigger">Find My Location! </button>  <button id="startrigger">I See a meter-maid! </button>  
</h1>
<% nearbys = @location.nearbys(10) %>
<% if nearbys %> 
  <h3>Nearby locations</h3>
  <ul>
  <% nearbys.each do |location| %>
    <li><%= link_to location.address, location %> (<%= location.distance.round(2) %> miles)</li>
  <% end %>

  </ul>
 <% end %>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>

